<h1>About</h1>
<p>This is an application that was created by <a href=http://twitter.com/peterortiz82 STYLE="text-decoration: none">Peter Ortiz</a> from the <a href=http://onemonthrails.com STYLE="text-decoration: none">One Month Rails</a> course!</p>
