// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.footer {
position: absolute;
bottom: 0;
width: 100%;
height: 60px;
background-color: #E7E7E7;
}

#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}

.time {

	font-size: 10px;
	color: #BABABA

}

.description {

	font-size: 16px;
}

.actions {

	font-size: 10px;
}

.postby {

	font-size: 12px;
}






 